MONGODB_URL=mongodb://localhost:27017
MONGODB_DB=gamification_db
REDIS_URL=redis://localhost:6379
INTERNAL_SERVICE_KEY=goalquest-internal-secret-key-change-in-production
PORT=8000
# Eureka
EUREKA_HOST=localhost
EUREKA_PORT=8761
EUREKA_SERVICE_NAME=gamification-service
EUREKA_SERVER=http://localhost:8761/eureka